.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navLinks {
  padding: 5px;
}

.nav img {
  width: 7%;
  height: 7%;
  margin-left: 1rem;
  border: solid #ffc0cb;
  border-radius: 15px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.nav .search {
  padding: 1rem;
  border-radius: 15px 0px 0px 15px;
  margin: 0;
  color: #000;
}

.nav .button {
  padding: 1rem;
  border-radius: 0px 15px 15px 0px;
  margin: 0;
  background-color: pink;
  color: #000;

}

.nav a {
  color: inherit;
}

.recipe-container {
  display: flex;
  padding: 1rem;
  margin: 2rem auto;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25%;
  background-color: rgb(255, 255, 255);
  border: solid 3px pink;
  box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.129);
  border-radius: 7px;
}

.recipe-container p {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;

}

.recipe-container h2 {
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid pink;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 80%;
}

.recipe-text {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.recipe-img {
  margin-bottom: 1rem;
}

h1 {
  margin: 0 auto;
  border-bottom: 2px solid pink;
  text-align: center;
  max-width: 15%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.recipes-parent {
  display: flex;
  flex-wrap: wrap;
}

.recipe-button {
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: white;
  border: solid 2px pink;
  border-radius: 7px;
  transition: 0.5s ease-in-out;
}

.recipe-button:hover {
  background-color: pink;
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 1.2rem;
}

.recipe-hero {
  position: relative;
  width: 100%;
}

.recipe-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  padding: 1.5rem;
}

.recipe-hero img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  filter: brightness(60%);

}

.submit {
  width: 100%;
  object-fit: cover;
}